<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <img src="../../../static/img/logo-2.png" alt="">
      </div>

      <div class="span9">
        <address>
          <span><strong>주소</strong>대전광역시 유성구 계룡로 141번길 21 (유성구 봉명동 547-5번지)</span>
          <span><strong>연락처</strong>040-229-8000</span>
          <span><strong>이메일</strong>legendhotel@naver.com</span>
        </address>

        <div class="social-icons">
          <a href="#"><img src="../../../static/img/social-icons/rss.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/facebook.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/twitter.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/gplus.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/youtube.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/vimeo.png" alt=""/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="span6">
          &copy; Copyright 2015 by The Hotel Legend, All right reserved.
        </div>
        <div class="span6">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Room</a></li>
              <li><a href="#">Booking</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</footer>