<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/datepickr.js"></script>
  <script>
    jQuery(function() {
      new datepickr('reservationDate', { 'dateFormat': 'y/m/d' });
    });
  </script>
</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}
</header>
<!-- header close -->

<!-- subheader begin -->
<div id="subheader">
  <div class="container">
    <div class="row">
      <div class="span12 slogan">
        <h1>연회장 예약</h1>
        <span>Banquet Reservation</span>
      </div>
    </div>
  </div>
</div>
<!-- subheader close -->

<!-- content begin -->
<form method="post" action="{% url 'banquet-reservation' %}">{% csrf_token %}
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="booking-form">


          <div class="span9">
            {% if not reservation_form.is_valid%}
              {% if validation == 1 %}
                <div class="alert alert-error">
                  <strong>비어있는 폼이 있습니다! </strong> 빨간색으로 표시된 폼을 채워주세요
                </div>
              {% endif %}
            {% endif %}
            <div class="row">
              <h3 class="title span9">개인정보  <span class="pull-right"><h6>* 이메일과 휴대폰번호 둘 중 하나는 필수입니다.</h6></span></h3>

              <div class="span3">
                <div class="control-group {% if reservation_form.name.errors %}warning{% endif %}">
                  <span class="text-label"><i class=" icon-user"></i>예약자명</span>
                  {{ reservation_form.name }}
                </div>
              </div>
              <div class="span3">
                <div class="control-group {% if reservation_form.email.errors %}warning{% endif %}">
                  <span class="text-label"><i class="icon-envelope-alt"></i>이메일주소</span>
                  {{ reservation_form.email }}
                </div>
              </div>
              <div class="span3">
                <div class="control-group {% if reservation_form.phone.errors %}warning{% endif %}">
                  <span class="text-label"><i class="icon-phone"></i>휴대폰번호</span>
                  {{ reservation_form.phone }}
                </div>

              </div>



              <h3 class="title span9">연회장정보</h3>

              <div class="span6">

                <div class="row">
                  <div class="span3">
                    <div class="control-group {% if reservation_form.numberOfPeople.errors %}warning{% endif %}">
                      <span class="text-label"><i class="icon-group"></i>연회장인원</span>
                      {{ reservation_form.numberOfPeople }}
                    </div>
                  </div>
                  <div class="span3">
                    <div class="control-group {% if reservation_form.hall.errors %}warning{% endif %}">
                      <span class="text-label"><i class="icon-suitcase"></i>연회장</span>
                      {{ reservation_form.hall }}
                    </div>
                  </div>

                </div>
              </div>

              <div class="span9">
                <div class="row">
                  <div class="span3">
                    <div class="control-group {% if reservation_form.reservationDate.errors %}warning{% endif %}">
                      <span class="text-label"><i class="icon-calendar"></i>예약날짜</span>
                      {{ reservation_form.reservationDate }}
                    </div>
                  </div>
                  <div class="span3">
                    <div class="control-group {% if reservation_form.reservationTime.errors %}warning{% endif %}">
                      <span class="text-label"><i class="icon-calendar"></i>예약시간</span>
                      {{ reservation_form.reservationTime }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="span9">
                <span class="text-label">요구사항(선택)</span>
                {{ reservation_form.request }}
              </div>

            </div>

          </div>
        <div class="span btn-book-submit">
              <input type="submit" class="btn btn-primary" value="예약">
            </div>
        </div>

      </div>





    </div>

  </div>
  </div>
</form>
<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->

</body>
</html>

