<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/contact.js"></script>

</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}
</header>
<!-- header close -->

<!-- subheader begin -->
<div id="subheader">
  <div class="container">
    <div class="row">
      <div class="span12 slogan">
        <h1>Contact Us</h1>
        <span>This is custom slogan for each page.</span>
      </div>
    </div>
  </div>
</div>
<!-- subheader close -->

<div id="map-container">
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=대한민국+대전광역시+유성구+레전드호텔&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
</div>

<!-- content begin -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h4>Get in touch with us now!</h4>
        Feel free to contact us by contact to get more information.<br/><br/>
        <div class="contact_form_holder">
          <form id="contact" class="row" name="form1" method="post" action="">

            <div class="span4">
              <label>Name</label>
              <input type="text" class="full" name="name" id="name"/>
            </div>

            <div class="span4">
              <label>Email <span class="req">*</span></label>
              <input type="text" class="full" name="email" id="email"/>
              <div id="error_email" class="error">Please check your email</div>
            </div>

            <div class="span8">
              <label>Message <span class="req">*</span></label>
              <textarea cols="10" rows="10" name="message" id="message" class="full"></textarea>
              <div id="error_message" class="error">Please check your message</div>
              <div id="mail_success" class="success"> Thank you. Your message has been sent.</div>
              <div id="mail_failed" class="error">Error, email not sent</div>

              <p id="btnsubmit"><input type="submit" id="send" value="Send" class="btn btn-large"/></p>
            </div>


          </form>
        </div>

      </div>

      {% include "Sunshine/html/partials/sidebar.html" %}

    </div>
  </div>
</div>
</div>
<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->

</body>
</html>

