<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sunshine - Responsive Hotel Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
    <meta name="author" content="">
    
    <!-- LOAD CSS FILES -->
    <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
    
    <!-- LOAD JS FILES -->
   	<script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/js/jquery.isotope.min.js"></script>
    <script src="../../../static/js/jquery.prettyPhoto.js"></script>
     <script src="../../../static/js/easing.js"></script>
    <script src="../../../static/js/jquery.lazyload.js"></script>
    <script src="../../../static/js/jquery.ui.totop.js"></script>
	<script src="../../../static/js/selectnav.js"></script>
    <script src="../../../static/js/ender.js"></script>
    <script src="../../../static/js/custom.js"></script>
    <script src="../../../static/js/responsiveslides.min.js"></script>
</head>

<body>
	<!-- header begin -->
	<header>
        	{% include "Sunshine/html/partials/header.html" %}
    </header>
	<!-- header close -->
    
    <!-- subheader begin -->
	<div id="subheader">
    	<div class="container">
    	  <div class="row">
          	<div class="span12 slogan">
            	<h1>Hotel Rooms</h1>
                <span>This is custom slogan for each page.</span>
            </div>
          </div>
    	</div>
    </div>
	<!-- subheader close -->  
    
	<!-- content begin -->
    <div id="content">
    	<div class="container">
        	<div class="row">
            	<div class="span12">
                	<ul id="filters">
                      <li><a href="#" data-filter="*" class="selected">show all</a></li>
                      <li><a href="#" data-filter=".event">event</a></li>
                      <li><a href="#" data-filter=".holiday">holiday</a></li>
                      <li><a href="#" data-filter=".room">room</a></li>
                      <li><a href="#" data-filter=".promotion">promotion</a></li>
                    </ul>

                </div>
            </div>
        	<div class="row">            	
            	<div id="gallery" class="gallery">
                	
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item holiday">
                    <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(1).jpg" alt="">
                    </a>
                	<h4>Gallery item 1</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item room">
                    <a class="preview" href="../../../static/img/gallery/pic%20(2).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(2).jpg" alt="">
                    </a>
                	<h4>Gallery item 2</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion holiday">
                    <a class="preview" href="../../../static/img/gallery/pic%20(3).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(3).jpg" alt="">
                    </a>
                	<h4>Gallery item 3</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item event">
                    <a class="preview" href="../../../static/img/gallery/pic%20(4).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(4).jpg" alt="">
                    </a>
                	<h4>Gallery item 4</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion room">
                    <a class="preview" href="../../../static/img/gallery/pic%20(5).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(5).jpg" alt="">
                    </a>
                	<h4>Gallery item 5</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Galㅈitem -->
                	<div class="span3 item holiday">
                    <a class="preview" href="../../../static/img/gallery/pic%20(6).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(6).jpg" alt="">
                    </a>
                	<h4>Gallery item 6</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item event room">
                    <a class="preview" href="../../../static/img/gallery/pic%20(7).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(7).jpg" alt="">
                    </a>
                	<h4>Gallery item 7</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item room">
                    <a class="preview" href="../../../static/img/gallery/pic%20(8).jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/gallery/pic%20(8).jpg" alt="">
                    </a>
                	<h4>Gallery item 8</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                </div>
            </div>
        </div>
    </div>
	<!-- content close -->
    
<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->
   
</body>
</html>

