<!DOCTYPE html>
{% load i18n %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../../static/css/jquery.nailthumb.1.1.min.css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/datepickr.js"></script>
  <script src="../../../static/js/jquery.nailthumb.1.1.min.js"></script>

  <script>
    jQuery(function() {
      new datepickr('checkin', { 'dateFormat': 'y/m/d' });
    });
    jQuery(function() {
      new datepickr('checkout', { 'dateFormat': 'y/m/d' });
    });
  </script>
</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}
</header>
<!-- header close -->

<!-- slider -->
<div class="slider-new">
  <div class="callbacks_container">
    <ul class="rslides pic_slider">
      <li>
        <img src="../../../static/img/index/slider1.jpg" alt="">
      </li>
      <li>
        <img src="../../../static/img/index/slider2.jpg" alt="">
      </li>
      <li>
        <img src="../../../static/img/index/slider3.jpg" alt="">
      </li>
    </ul>
  </div>
</div>
<!-- slider close -->

<div class="clearfix"></div>

<!-- search begin -->
<div id="booking">
  <div class="container">
    <div class="row">
      <span class="span2">Booking Now :</span>
      <form class="form-inline" method="get" action="{% url 'booking' %}">
        <div class="span2">
          <input type="text" id="checkin" name="checkInDate" value="체크인 날짜">
        </div>
        <div class="span2">
          <input type="text" id="checkout" name="checkOutDate" value="체크아웃 날짜">
        </div>
        <div class="span2">
          <select name="room">
            <option>객실 종류 선택</option>
            {% for room in rooms %}
            <option value="{{ room.type }}">{{ room.type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="span2">
          <select name="numberOfPeople">
            <option value="-1">인원 수 선택</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">5+</option>
          </select>
        </div>
        <div class="span2">
          <input type="submit" class="btn btn-primary btn-submit" value="빠른예약하기">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- search close -->

<!-- content begin -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="text-center">
        <h2 style="font-weight: 500;">{% trans "추천 객실" %}</h2>
        {% trans "편안하고 안락한 객실이 준비되어 있습니다" %}<br><br>
      </div>

      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-1.jpg" src="../../../static/img/room/suite1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "스위트 (양실)" %}</h4>
        <div class="description">
                  {% trans "고급스러운 실내장식과 여유로운 공간구성을 통하여 고객님이 최대한 여유롭고 편안히 쉴 수 있는 공간으로, 고급스러움이 고객님의 품격을 높혀드립니다." %}
                	</div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>킹사이즈 베드</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>
      </div>
      <!-- close room -->

      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-2.jpg" src="../../../static/img/room/korean_suite1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "스위트 (한실)" %}</h4>
        <div class="description">
                  {% trans "우리나라 고유의 전통적인 멋과 현대적 장식이 어우러진 넉넉한 공간을 통하여 내집 같은 포근함을 경험할 수 있는 베란다를 갖추고 있는 객실입니다." %}
                	</div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>전통적인 온돌</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>
      </div>
      <!-- close room -->


      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-3.jpg" src="../../../static/img/room/double_ondol1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "디럭스 (더블온돌)" %}</h4>
        <div class="description">
{% trans " 우리고유의 전통적인 멋과 현대적 장식이 어우러진 내집 같은 포근함을 경험할 수 있는 온돌 객실에 더블침대를 갖추고 있는 객실입니다." %}

        </div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>더블 베드</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>

      </div>
      <!-- close room -->


    </div>

    <hr>

    <div class="row gallery">
      <div class="text-center">
        <h2 style="font-weight: 500;">{% trans "갤러리" %}</h2>
        {% trans "레전드 호텔에는 다양한 시설들이 있습니다" %}<br><br>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(1).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(2).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(3).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(4).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(5).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/gallery/pic%20(1).jpg" rel="prettyPhoto" title="Your Title">
          <img data-original="img/gallery/pic%20(6).jpg" src="../../../static/img/pic-blank-1.gif" class="img-polaroid" alt="">
        </a>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="span3 feature">
        <i class="icon-desktop icon-3x"></i><br>
        <h4>Modern</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>

      <div class="span3 feature">
        <i class="icon-calendar icon-3x"></i><br>
        <h4>Responsive</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>

      <div class="span3 feature">
        <i class="icon-circle-arrow-right icon-3x"></i><br>
        <h4>Hotel</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>

      <div class="span3 feature">
        <i class="icon-thumbs-up icon-3x"></i><br>
        <h4>Template</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>


  </div>

</div>
<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->



</body>
</html>
