<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../../static/css/jquery.nailthumb.1.1.min.css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/datepickr.js"></script>
  <script src="../../../static/js/jquery.nailthumb.1.1.min.js"></script>

</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}

  <style>
    .my-thumb-1 {
      width: 44px;
      height: 44px;
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    #main_div {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  </style>


  }
</header>
<!-- header close -->

<!-- subheader begin -->
<div id="subheader">
  <div class="container">
    <div class="row">
      <div class="span12 slogan">
        <h1>Elegant Room</h1>
        <span>Feel more than home.</span>
      </div>
    </div>
  </div>
</div>
<!-- subheader close -->

<!-- content begin -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="blog-list">
          <ul id="article-list">
            {% for article in articles %}
              <div class="info">
                <div class="date">
                  <h4>{{ article.date|date:'d' }}</h4>
                  <span>{{ article.date|date:'F' }}</span>
                </div>
              </div>
              <div id="main_div" class="preview" >  <a href="/single-news?articleID={{ article.articleID }}">
                <h3 class="blog-title" >{{ article.title }}</h3>
              </a>{{ article.content }}</div>
              <div class="meta-info"> By: <a href="#">Admin</a><span>|</span><a href="#">Event</a>, <a href="#">Promotion</a></div>
            {% endfor %}
          </ul>
        </ul>

        <div class="pagination text-center ">
          <ul id="page-list">
          </ul>
          <ul>
            <li><a href="/write/"> 글 작성 </a></li>
          </ul>
        </div>
      </div>

      {% include "Sunshine/html/partials/sidebar.html" %}



    </div>


    <div class="map">

    </div>

  </div>
</div>
<!-- content close -->

<!-- footer begin -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <img src="../../../static/img/logo-2.png" alt="">
      </div>
      <div class="span3">
        <h3>About Us</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="span3">
        <h3>Latest News</h3>
        <ul class="list-news">
          <li>
            <img src="../../../static/img/thumbnail-1.jpg" alt=""/>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
          </li>
          <li>
            <img src="../../../static/img/thumbnail-1.jpg" alt=""/>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
          </li>
        </ul>
      </div>
      <div class="span3">
        <h3>Our Address</h3>
        <address>
          80 Gotham Street, Sydney
          <span><strong>Phone:</strong>(208) 222 4546</span>
          <span><strong>Fax:</strong>(208) 222 4647</span>
          <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
          <span><strong>Web:</strong><a href="#test">http://example.com</a></span>
        </address>

        <div class="social-icons">
          <a href="#"><img src="../../../static/img/social-icons/rss.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/facebook.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/twitter.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/gplus.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/youtube.png" alt=""/></a>
          <a href="#"><img src="../../../static/img/social-icons/vimeo.png" alt=""/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="span6">
          &copy; Copyiright 2013 - Sunshine by Aveothemes
        </div>
        <div class="span6">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Room</a></li>
              <li><a href="#">Booking</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- footer close -->
<script>
  $(document).ready(function(){
    var page_no = {{ page_no }};
    var page_block = (page_no-1) - ((page_no-1) % 5);
    var i;
    var max_page = {{ max_page }};
    if(page_block==0)
      $('ul#page-list').append('<li><a href="/news?page=' + 1 + '">prev</a></li>');
    else
      $('ul#page-list').append('<li><a href="/news?page='+page_block+'">prev</a></li>');
    for(i=1;i<=5;i++) {
      if(page_block + i > max_page) break;
      var li = document.createElement("li");
      if (i + page_block == page_no) {
        $('ul#page-list').append('<li><a class="active" href="/news?page='+(i+page_block)+'">'+(page_block+i)+'</a></li>');
      }
      else {
        $('ul#page-list').append('<li><a href="/news?page='+(i+page_block)+'">'+(page_block+i)+'</a></li>');
      }
    }
    if(page_block+6 <= max_page)
      $('ul#page-list').append('<li><a href="/news?page='+(page_block + 6)+'">Next</a></li>');
    else
      $('ul#page-list').append('<li><a href="/news?page='+max_page+'">Next</a></li>');
  });
  $(document).ready(function() {
    $( 'li#my-thumb-1' ).nailthumb();
  });
</script>

</body>
</html>
