<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sunshine - Responsive Hotel Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
    <meta name="author" content="">
    
    <!-- LOAD CSS FILES -->
    <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
    
    <!-- LOAD JS FILES -->
   	<script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/js/jquery.isotope.min.js"></script>
    <script src="../../../static/js/jquery.prettyPhoto.js"></script>
     <script src="../../../static/js/easing.js"></script>
    <script src="../../../static/js/jquery.lazyload.js"></script>
    <script src="../../../static/js/jquery.ui.totop.js"></script>
	<script src="../../../static/js/selectnav.js"></script>
    <script src="../../../static/js/ender.js"></script>
    <script src="../../../static/js/custom.js"></script>
    <script src="../../../static/js/responsiveslides.min.js"></script>

</head>

<body>
	<!-- header begin -->
	<header>
        {% include "Sunshine/html/partials/header.html" %}
    </header>
	<!-- header close -->
    
    <!-- subheader begin -->
	<div id="subheader">
    	<div class="container">
    	  <div class="row">
          	<div class="span12 slogan">
            	<h1>Hotel Rooms</h1>
                <span>This is custom slogan for each page.</span>
            </div>
          </div>
    	</div>
    </div>
	<!-- subheader close -->  
      
	<!-- content begin -->
  <div id="content">
    	<div class="container">
        	
			<div class="row room-list">
            
            	<!-- room -->
              <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room1.jpg" class="img-polaroid" alt="">
                    <h4>Deluxe Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$199</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
                     
                     
                </div>
                <!-- close room -->
                
                  <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room-2.jpg" class="img-polaroid" alt="">
                    <h4>Elegant Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$299</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
      			</div>
                <!-- close room -->


              <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room-3.jpg" class="img-polaroid" alt="">
                    <h4>Luxury Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$399</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>

      			</div>
                <!-- close room -->
				
                <!-- room -->
              <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room-4.jpg" class="img-polaroid" alt="">
                    <h4>Deluxe Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$199</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
                     
                     
                </div>
                <!-- close room -->
                
                  <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room-5.jpg" class="img-polaroid" alt="">
                    <h4>Elegant Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$299</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
      			</div>
                <!-- close room -->
                
                


              <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="#" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="../../../static/img/pic-blank-1.gif" data-original="img/room-6.jpg" class="img-polaroid" alt="">
                    <h4>Luxury Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$399</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="#" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>

      			</div>
                <!-- close room -->
            	
         	 </div>
             
    	</div>
        
        </div>
	<!-- content close -->
    
 <!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->
   
</body>
</html>

