<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/datepickr.js"></script>
  <script>
    jQuery(function() {
      new datepickr('checkInDate', { 'dateFormat': 'y/m/d' });
      new datepickr('checkOutDate', { 'dateFormat': 'y/m/d' });
    });
  </script>
</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}
</header>
<!-- header close -->

<!-- subheader begin -->
<div id="subheader">
  <div class="container">
    <div class="row">
      <div class="span12 slogan">
        <h1>예약이 완료되었습니다</h1>
        <span>The reservation has been completed</span>
      </div>
    </div>
  </div>
</div>
<!-- subheader close -->

<!-- content begin -->
{% csrf_token %}
  {{ reservation_form.non_field_errors }}
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="span9">
            <div class="row">
              <h3 class="title span9">개인정보</h3>
              <div class="span3">
                <span class="text-label"><i class=" icon-user"></i>예약자명</span>
                  <div class="well">{{ reservation.name }}</div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-envelope-alt"></i>이메일주소</span>
                  <div class="well">{{ reservation.email }}</div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-phone"></i>휴대폰번호</span>
                  <div class="well">{{ reservation.phone }}</div>
              </div>
              <h3 class="title span9">객실정보</h3>
              <div class="span6">
                <span class="text-label"><i class="icon-group"></i>투숙인원</span>
                <div class="row">
                  <div class="span3">
                      <div class="well">{{ reservation.numberOfPeople }}</div>
                  </div>
                  <div class="span3">
                  </div>
                </div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-suitcase"></i>객실</span>
                  <div class="well">{{ reservation.room }}</div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-calendar"></i>체크인날짜</span>
                  <div class="well">{{ reservation.checkInDate }}</div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-calendar"></i>체크아웃날짜</span>
                  <div class="well">{{ reservation.checkOutDate }}</div>
              </div>
              <div class="span3">
                <span class="text-label"><i class="icon-money"></i>결제방식</span>
                  <div class="well">{{ reservation.payment }}</div>
              </div>
              <div class="span9">
                <span class="text-label">요구사항</span>
                <div class="well">{{ reservation_form.request }}</div>
              </div>
            </div>
          </div>

          <div class="span btn-book-submit">
            <a href="{% url 'index' %}"><button class="btn btn-info">메인으로</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->

</body>
</html>

