<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunshine - Responsive Hotel Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>

</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}

</header>
<!-- header close -->

<!-- subheader begin -->
<div id="subheader">
  <div class="container">
    <div class="row">
      <div class="span12 slogan">
        <h1>Elegant Room</h1>
        <span>Feel more than home.</span>
      </div>
    </div>
  </div>
</div>
<!-- subheader close -->

<!-- content begin -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="blog-read">
          <div>
            <div class="info">
              <div class="date">
                <h4>20</h4>
                <span>SEP</span> </div>
            </div>
            <div class="preview">
              <a href="#">
                <h3 class="blog-title">{{ article.title }}</h3>
              </a>
              {{ article.content }}
              {% if article.image %}
                <img src="../../../static/notice-data/{{ article.articleID }}_{{ article.image }}"/>
              {% endif %}
            </div>
            <div class="meta-info"> By: <a href="#">Admin</a><span>|</span><a href="#">Event</a>, <a href="#">Promotion</a> </div>
          </div>
        </div>

        <div id="blog-comment">
          <div id="comment-form-wrapper">
          </div>
        </div>

      </div>

      {% include "Sunshine/html/partials/sidebar.html" %}

    </div>

    <div class="map">

    </div>

  </div>
</div>
<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->

</body>
</html>

